<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-right'>
      <%# if user_signed_in? %>
        <%#<li><%= link_to current_user.nickname, user_session_path(current_user.id), class: "user-nickname" ></li> %>
        <%#<li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" ></li> 
      <%# else %>  
        <li><%= link_to 'ログイン', "#", class: "login" %></li> <%#new_user_session_path%>
        <li><%= link_to '新規登録', "#", class: "sign-up" %></li> <%#new_user_registration_path%>
      <%#<% end %>  
    </ul>
  </div>
</header>